<div class="grid-row">
   {{#if album}} 
    <h1>Album: {{album.0.album}}</h1>
    <hr>
    {{#if loggedIn}}
    {{#each album}}
        <div class="panel">
            <div class="grid-row">
                <div class="grid-column -xsmall-6">    
                    <h1>{{title}} - {{artist}} <small>
                    <a href="/playlist/add/{{location}}"><i class="icon -plus"></i> Add to Playlist</a>
                    </small></h3>
                    <samp>Uploaded by: {{username}} </samp>
                </div>
                <div class="grid-column -xsmall-6">
                    <div id="a{{location}}" class="aplayer"></div>
                </div>
            </div>
        </div>
        <br> 
    {{/each}}
    {{else}}
    {{#each album}}
    <div class="panel">
            <div class="grid-row">
                <div class="grid-column -xsmall-6">    
                    <h1>{{title}} - {{artist}} <small>
                    <a href="/download/{{location}}" target="_blank"><i class="icon -download"></i> Download</a>
                    </small></h3>
                    <samp>Uploaded by: {{username}} </samp>
                </div>
                <div class="grid-column -xsmall-6">
                    <div id="a{{location}}" class="aplayer"></div>
                </div>
            </div>
        </div>
        <br> 
    {{/each}}
    {{/if}}
{{else}}
<h1>No album found...</h1>
{{/if}}
</div>
<script defer>
    i = 1;
    {{#each album}}
        var i = new APlayer({
        element: document.getElementById('a{{location}}'),
        narrow: false,
        autoplay: false,
        showlrc: false,
        theme: '#e6d0b2',
        music: {
            title: '{{title}}',
            author: '{{artist}}',
            url: '/music/{{location}}',
            pic: '/img/music.png'
        }
        });
        i.init();
        i++;
    {{/each}}
</script>