<div class="grid-row">
   {{#if album}} 
    <h1>Album: {{album.0.album}}</h1>
    <hr>
    {{#each album}}
        <div class="panel">
            <div class="grid-row">
                <div class="grid-column -xsmall-6">    
                    <h1>{{title}} - {{artist}}</h3>
                    <samp>Uploaded by: <a class="white-a" href="/profile/{{username}}">{{username}}</a> </samp>
                </div>
                <div class="grid-column -xsmall-6">
                    <audio class="audioplayer" controls preload="metadata">
                        <source src='/music/{{location}}' type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
        <br>
    {{/each}}
{{else}}
<h1>No album found...</h1>
{{/if}}
</div>