<div class="grid-row">
    {{#if msg}}
        <div class="alert -success">{{msg}}</div>
        <br>
    {{/if}}
    {{#if err}}
        <div class="alert -error">{{err}}</div>
        <br>
    {{/if}}
    <h1>Most recent uploads:</h1>
    <hr>
    {{#if loggedIn}}
    {{#each songs}}
        <div class="panel">
            <div class="grid-row">
                <div class="grid-column -xsmall-6">    
                    <h1>{{title}} - {{artist}} <small>
                    <a href="/playlist/add/{{location}}"><i class="icon -plus"></i> Add to Playlist</a>
                    </small></h3>
                    <mark>in Album: <a class="white-a" href="/album/{{album}}"><strong>{{album}}</strong></a> </mark>
                    <samp>Uploaded by: {{username}} </samp>
                </div>
                <div class="grid-column -xsmall-6">
                    <div id="a{{location}}" class="aplayer"></div>
                </div>
            </div>
        </div>
        <br> 
    {{/each}}
    {{else}}
    {{#each songs}}
    <div class="panel">
            <div class="grid-row">
                <div class="grid-column -xsmall-6">    
                    <h1>{{title}} - {{artist}} <small>
                    <a href="/download/{{location}}" target="_blank"><i class="icon -download"></i> Download</a>
                    </small></h3>
                    <mark>in Album: <a class="white-a" href="/album/{{album}}"><strong>{{album}}</strong></a> </mark>
                    <samp>Uploaded by: {{username}} </samp>
                </div>
                <div class="grid-column -xsmall-6">
                    <div id="a{{location}}" class="aplayer"></div>
                </div>
            </div>
        </div>
        <br> 
    {{/each}}
    {{/if}}
</div>
<script defer>
    i = 1;
    {{#each songs}}
        var i = new APlayer({
        element: document.getElementById('a{{location}}'),
        narrow: false,
        autoplay: false,
        showlrc: false,
        theme: '#e6d0b2',
        music: {
            title: '{{title}}',
            author: '{{artist}}',
            url: '/music/{{location}}',
            pic: '/img/music.png'
        }
        });
        i.init();
        i++;
    {{/each}}
</script>