<div class="grid-row">
   {{#if msg}}
        <div class="alert -success">{{msg}}</div>
        <br>
    {{/if}}
    {{#if err}}
        <div class="alert -error">{{err}}</div>
        <br>
    {{/if}}
    <h1>Recently Created Playlists</h1>
      <form class="form" action="/playlists" method="post">
          <div class="field">
              <label>Playlist's Name:</label>
              <input name="name" type="text" placeholder="Plaayyylist">
          </div>
          <div class="field">
              <input class="button -primary" type="submit" value="Create Playlist">
          </div>
      </form>
      <br>
      <br>
      {{#if lists}}
        <table>
          <thead>
            <tr>
              <th>Playlist</th>
              <th>Owner</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
      {{#each lists}}
            <tr>
              <td>{{name}}</td>
              <td>{{username}}</td>
              <td><a href="play/{{pID}}">Show more</a></td>
            </tr>
      {{/each}}
          </tbody>
      {{else}}
          <h3>No Playlists found.</h3>
      {{/if}}
</div>